{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
    <h1>{{ .Site.Title }}</h1>
</div>

{{ .Content }}

<h2>New Stuff</h2>
{{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
<p>
    <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ partial "date.html" . }}
</p>
{{ end }}


{{ end }}